In [13]:
from scopus_authors_retrive import scopus_author
from scopus_authors_retrive import make_dataframe

## Retrive author name tuple from SCOUPS database

In [14]:
au = scopus_author('15769145500')

### Attributes Name

In [15]:
au.name

'Natasa Gisev'

### Number of documents by the Author

In [16]:
au.ndocuments

30

### Author h-index

In [18]:
au.hindex

10

### Author orcid if available otherwise None type

In [20]:
print(au.orcid)

None

### Author Firstauthorship

In [21]:
au.n_first_author_papers()

15

### Author Lastauthorship

In [22]:
au.n_last_author_papers()

1

### Author cited publication numbers

In [25]:
au.ncited_by

260

### Coauthors name and number

In [26]:
coauthors = au.get_coauthors()
print([a.name for a in coauthors])

['Wayne D. Hall', 'Louisa Degenhardt', 'Michael P. Farrell', 'Andrew McLachlan', 'Shane Darke', 'Richard P. Mattick', 'Sirpa A. Hartikainen', 'Fiona Blyth', 'J. Simon Bell', 'Raimondo Bruno', 'Sallie Anne Pearson', 'Timothy F. Chen', 'Nicholas Lintzeris', 'Lucy Burns', 'Elliot C. Nelson', 'Timothy Dobbins', 'Tony Butler', 'Milton L. Cohen', 'Alan Rosen', 'Suzanne N. Nielsen', 'Sarah Larney', 'Maarit Jaana Korhonen', 'Don James Weatherburn', 'Marian D. Shanahan', 'Briony K. Larance', 'Prasad S. Nishtala', 'Jenni Ilom√§ki', 'Amy Peacock', 'Jo Kimber', 'Amanda D. Roxburgh', 'Fiona L. Shand', 'James Simon Bell', 'Natasa Gisev', 'Manoranjenni Chetty', 'Gabrielle Campbell', 'Anton C. Clifford', "Claire L. O'Reilly", 'Amy E. Gibson', 'Bianca Blanch', 'Elena J. Cama', 'Wayne D. Hall', 'Emily A. Karanges', 'Lucinda J. Burns', 'Natali Jokanovic', 'Samanta Lalic', 'Belinda Lloyd', 'Dan I. Lubman', 'Nicholas A. Buckley', 'Bianca Hoban', 'Mikko Korhonen', 'Michael Doyle', 'Megan Williams', 'Samantha Colledge', 'Judy Trevena']

In [27]:
len(coauthors)

54

### Publication status

In [29]:
print(au.n_yearly_publications(refresh=False))

Counter({2018: 7, 2014: 7, 2016: 4, 2015: 4, 2013: 3, 2017: 2, 2012: 1, 2011: 1, 2010: 1, 2009: 1, 2006: 1})

## Data test cases for internal and external authors

In [30]:
import pandas as pd
df = make_dataframe(['15769145500', '15080819600', '7005082840', '22136848800', '9235879800'])

In [31]:
df.columns

Index(['SCOPUS_ID', 'name', 'h_index', 'documents_total',
       'number_first_author', 'number_last_author', 'total_citing_papers',
       'orcid'],
      dtype='object')

In [32]:
df.head()

,SCOPUS_ID,name,h_index,documents_total,number_first_author,number_last_author,total_citing_papers,orcid
0,15769145500,Natasa Gisev,10,30,15,1,260,None
1,15080819600,Nicola J. Smith,18,39,10,13,1043,0000-0002-7247-9562
2,7005082840,C. Raina MaCintyre,0,0,73,131,0,None
3,22136848800,Blossom Christa Maree Stephan,27,117,25,18,2681,0000-0002-1235-360X
4,9235879800,Alexander N. Combes,15,35,9,1,821,None

In [39]:
assert type(df) is pd.core.frame.DataFrame, "Return object should be pandas Dataframe."

In [37]:
type(df)

pandas.core.frame.DataFrame

In [40]:
assert len(df) == 5, "There are 5 SCOPUS IDS should be in the dataframe"