In [1]:
import numpy as np
import pandas as pd
import UNSW_med_theme as th

In [2]:
researchers =[7202158595,55757206600, 7401947506, 57186794800,6603573607, 26643395700]

In [3]:
data = th. author_subject_area(researchers)

In [4]:
data.head()

,SCOPUS_ID,Name,Subjects_area,Result,Main_theme,Alternative_theme
0,7202158595,Michael B. Barton,"{'Oncology': 125, 'Cancer Research': 47, 'Radi...","{'Cancer': 183, 'NHMA': 1, 'NCD': 3}",Cancer,NCD
1,55757206600,David Goldstein,"{'Oncology': 127, 'Cancer Research': 80, 'Endo...","{'Cancer': 210, 'Triple I': 15, 'NHMA': 14, 'N...",Cancer,Triple I
2,7401947506,Phoebe Phillips,"{'Oncology': 10, 'Cancer Research': 10, 'Endoc...","{'Cancer': 20, 'Triple I': 8, 'NHMA': 1, 'NCD'...",Cancer,Triple I
3,57186794800,David M. Thomas,"{'Oncology': 78, 'Cancer Research': 49, 'Endoc...","{'Cancer': 127, 'Triple I': 8, 'NHMA': 1, 'NCD...",Cancer,Triple I
4,6603573607,Claire M. Vajdic,"{'Oncology': 48, 'Cancer Research': 44, 'Immun...","{'Cancer': 92, 'Triple I': 28, 'NHMA': 3}",Cancer,Triple I

In [5]:
data.columns

Index(['SCOPUS_ID', 'Name', 'Subjects_area', 'Result', 'Main_theme',
       'Alternative_theme'],
      dtype='object')

In [6]:
data['SCOPUS_ID'].nunique()

6

In [7]:
data['Main_theme'].value_counts()

Cancer    5
NHMA      1
Name: Main_theme, dtype: int64

In [8]:
data.tail()

,SCOPUS_ID,Name,Subjects_area,Result,Main_theme,Alternative_theme
1,55757206600,David Goldstein,"{'Oncology': 127, 'Cancer Research': 80, 'Endo...","{'Cancer': 210, 'Triple I': 15, 'NHMA': 14, 'N...",Cancer,Triple I
2,7401947506,Phoebe Phillips,"{'Oncology': 10, 'Cancer Research': 10, 'Endoc...","{'Cancer': 20, 'Triple I': 8, 'NHMA': 1, 'NCD'...",Cancer,Triple I
3,57186794800,David M. Thomas,"{'Oncology': 78, 'Cancer Research': 49, 'Endoc...","{'Cancer': 127, 'Triple I': 8, 'NHMA': 1, 'NCD...",Cancer,Triple I
4,6603573607,Claire M. Vajdic,"{'Oncology': 48, 'Cancer Research': 44, 'Immun...","{'Cancer': 92, 'Triple I': 28, 'NHMA': 3}",Cancer,Triple I
5,26643395700,Peter W. Gunning,"{'Cellular and Molecular Neuroscience': 17, 'C...","{'Cancer': 17, 'Triple I': 9, 'NHMA': 23, 'NCD...",NHMA,Cancer

In [9]:
data['Alternative_theme'].value_counts()

Triple I    4
Cancer      1
NCD         1
Name: Alternative_theme, dtype: int64

In [11]:
data['Subjects_area']

0    {'Oncology': 125, 'Cancer Research': 47, 'Radi...
1    {'Oncology': 127, 'Cancer Research': 80, 'Endo...
2    {'Oncology': 10, 'Cancer Research': 10, 'Endoc...
3    {'Oncology': 78, 'Cancer Research': 49, 'Endoc...
4    {'Oncology': 48, 'Cancer Research': 44, 'Immun...
5    {'Cellular and Molecular Neuroscience': 17, 'C...
Name: Subjects_area, dtype: object